.mentors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    row-gap: 35px;
}

.mentor-cards{
    background-color: var(--background);
    height: 400px;
    width: 337.44px;
    border: 3px solid;
    border-radius: 30px;  
}

.mentor-cards img{
    height: 230px;
    width: 337.44px;
    border-radius: 27px 27px 0 0;
}

.expertise{
    padding: 10px 10px 0 10px;
}

.brief{
    padding: 10px;
    font-size: 15px;
    line-height: 23px;
}

.mentor-cards h3{
    margin: 7px 0 0 10px;
}
.mentor-cards h4{
    margin-left: 10px;
}