.story{
    display: none;
}
.metrics{
    display: none;
}

.map{
    display: inline-block;
    /* text-align: center; */
    margin: 10px 0 25px 30px;
}
.map h2{
    color: var(--secondary);
    margin-bottom: 15px;
}
.map img{
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px hsla(0, 0%, 0%, 0.2);
    height: 300px;
}

.info{
    display: flex;
    margin-left: 30px;
    column-gap: 80px;
}
.address p {
    margin-top: 12px;
    line-height: 1.7;
}
.contact{
    /* position: fixed; */
    /* bottom: 0; */
    /* margin: 0 0 15px 30px; */
}
.contact img {
    margin-right: 5px;
    height: 30px;
}

.info h2{
    color: var(--secondary);
    /* margin-bottom: 18px; */
}
.contact a{
    display: flex;
    align-items: center;
    margin-top: 15px;
}