:root{
    --background: #f8fcfc;
    --bb: #B3DEE2;
    --text: #0e141a;
    --text2: #000000ca;
    --primary: #e2315a;
    --secondary: #a99fd0;
}
.darkmode{
    --background: #0e141a;
    --bb: #0e141a;
    --text: #f8fcfc;
    --text2: #f8fcfc;
    --primary: #e2315a;
    --secondary: #a99fd0;
}
body{
    background-image: radial-gradient(hsla(185, 45%, 79%, 0.788) 2px, var(--background) 2px);
    background-size: 40px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text);
}

a{
    cursor: pointer;
    color: var(--text);
    font-weight: bold;
}
button{
    cursor: pointer;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: var(--secondary);
    position: sticky;
    top: 5px;
    margin: 15px;
    border: 2px solid;
    border-radius: 20px;
}
nav a{
    position: relative;
    padding: 9px 0;
    color: var(--background);
}
nav #current{
    color: var(--primary);
}
nav li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    border-radius: 12px;
    width: 0%;
    background:var(--primary);
    transition: all 400ms ease;
}
nav li a:hover:before{
    width: 100%;
}

header img{
    width: 60px;
}

header .light-mode{
    margin-left: 20px;
}

header nav ul {
    display: flex;
}

header nav li {
    padding: 20px 35px;
}

footer{
    display: flex; 
    justify-content: center;
    margin: 40px 0;
}

footer .back{
    transition-duration: 500ms;
}
footer a{
    display: flex;
    align-items: center;
    padding: 7px;
}
footer .back:hover{
    transform: translateY(-10px);
}

footer img {
    width: 30px;
}

footer p{
    margin-left: 2px;
    font-size: 18px;
}