main{
    display: flex;
    justify-content: space-evenly;
    row-gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}
main div{
    width: 534px;
}
main img{
    height: 400px;
    border-radius: 25px 25px 0 0;
}
main h3{
    text-align: center;
    background-color: var(--primary);
    border: 3px solid;
}
main p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.7;
    padding: 10px;
    border: 3px dashed;
    background-color: var(--background);
}

