:root{
    --text: #0d1212;
    --background: #f8fcfc;
    --primary: #23615f;
    --secondary: #77dfdd;
    --accent: #1cd4d1;
  }
  :root[data-theme="dark"] {
    --text: #edf2f2;
    --background: #040808;
    --primary: #9edcda;
    --secondary: #208785;
    --accent: #2be4e0;
}

body{
    background-color: #f8fcfc;
    background-image: radial-gradient(#cddddd 2px, #f8fcfc 2px);
    background-size: 40px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text);
}

a{
    cursor: pointer;
    color: black;
    /* font-weight: bold; */
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #cddddd;
    position: sticky;
    top: 5px;
    border-radius: 20px;
    margin: 15px;
}

header img{
    width: 60px;
    height: 60px;
}

header .light-mode{
    margin-left: 20px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 20px 35px;
    border-radius: 10px;
}
