*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #314366;
}

h1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    height: 20vh;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.274);
}

.nav {
    background-color: #333;
    padding: 10px 0;
}

.nav nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.nav nav ul li a {
    color: white;
    text-decoration: none;
    font-size:1.2em;
    padding: 10px 30px;
}

.nav nav ul li a:hover {
    background-color: #ff2b2b34;
    border-radius: 5px;
}


.overview {
    height: 70vh;
    width: 50%;
    background-color:rgba(137, 43, 226, 0.5);
    float: left;
}

.form {
    height: 70vh;
    width: 50%;
    background-color: rgba(255, 217, 0, 0.384);
    float: right;
}

@media screen and (max-width: 850px) {
    .nav nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav nav ul li {
        margin: 5px 0;
    }
}